/***********************************************************
                        	Mixin
************************************************************/


@mixin text($size, $color :null, $weight :null, $letter-spacing :null, $line-height :null) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $weight;
	color: $color;
	letter-spacing: $letter-spacing;
}

@mixin background-content($icon, $size, $bg-position :null) {
	background-image: url('../img/#{$icon}');
	background-size: $size;
	background-position: $bg-position;
	content: '';
	z-index: 1;
	background-repeat: no-repeat;
}
@mixin bg-dimention-position($width, $height, $position, $top :null, $right :null, $bottom :null, $left :null) {
	position: $position;
	height: $height;
	width: $width;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}


/***********************************************************
                      Place Holders
************************************************************/


%buttonless {
	background-color: initial;
	border: none;
	padding: 0;
}



/***********************************************************
                      	  Colors
************************************************************/


$white										: #ffffff;
$black										: #000000;
$pastel-green								: #61da94;


/***********************************
           Colors Function
************************************/

$color-my-info								: $black;
$color-landing-line							: $black;
$color-landing-email						: $pastel-green;
$color-landing-preview						: $black;

$color-content-section						: $pastel-green;
$color-project-info							: $white;
$color-project-line							: $white;
$color-project-preview						: $white;

$color-footer-greeting						: $black;
$color-footer-email							: #ff5c5c;

/***********************************************************
                      	Font Family
************************************************************/


$lato									: 'Lato', sans-serif;


/***********************************
       Font Family Function
************************************/


$font-my-name							: $lato;
$font-my-description					: $lato;
$font-landing-email						: $lato;
$font-landing-preview					: $lato;

$font-project-name						: $lato;
$font-project-description				: $lato;
$font-project-preview					: $lato;

$font-footer-greeting					: $lato;
$font-footer-email						: $lato;



.content-section-right {

	.content-section-content {
        padding: 8em 0 0 5em;
	}

}
