/***********************************************************
                      	  Global
************************************************************/


@import "_extends.scss";

.global {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

//////////// Clear Fix //////////////
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
//////////// Clear Fix //////////////

/***********************************************************
                      Header Section
************************************************************/


.header-section {
    display: block;

    .header-content {
        display: block;
        position: relative;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;

        .my-info {
            display: inline-block;
            margin: 8em 0 10em 5em;
            width: calc(100% - 5em);

            @media screen and (max-width: 740px) {
                display: block;
                margin: 0 0 3em 2.5em;
                width: calc(100% - 2.5em);
                padding-top: 4em
            }

            .my-name {

                h1 {
                    @include text(1.9em, $color-my-info, 600);
                    font-family: $font-my-name;
                    position: relative;
                    margin: 0;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 1.85em;
                        left: 0;
                        right: 0;
                        width: 100%;
                        border: 2px solid $color-header-line;
                        box-sizing: border-box;
                    }
                }
            }

            .my-description {
                width: 24em;
                margin-top: 3em;

                @media screen and (max-width: 740px) {
                    margin: 3em 2.5em 0 0;
                    width: initial;
                }

                p {
                    @include text(1.15em, $color-my-info, 100, 0.5px);
                    font-family: $font-my-description;
                    margin: 0;

                    @media screen and (max-width: 740px) {
                        line-height: 1.75em;
                    }
                }
            }
        }

        .contact-info {
            display: inline-block;
            position: absolute;
            top: 1em;
            right: 1em;

            @media screen and (max-width: 740px) {
                display: block;
                position: initial;
                margin: 0 0 4em 2.5em
            }

            .header-github {
                display: inline-block;
                position: relative;
                top: 0;
                left: 11em;

                @media screen and (max-width: 740px) {
                    display: block;
                    position: initial;
                }

                button {
                    @include background-content('github.svg', contain);
                    @include bg-dimention-position(2em, 2em, relative, 12px, 0);
                    @extend %buttonless;
                }
            }

            .header-email {
                display: inline-block;
                margin-right: 1em;
                position: relative;
                top: 0;
                right: 3em;

                @media screen and (max-width: 740px) {
                    display: block;
                    position: initial;
                    right: initial;
                    margin-top: 1.5em;
                }

                a {
                    @include text(1em, $color-header-email, 400, 0.5px);
                    font-family: $font-header-email;
                    text-decoration: none;
                }
            }
        }

        .header-preview {
            display: inline-block;
            position: absolute;
            bottom: 3em;
            right: 4em;

            @media screen and (max-width: 740px) {
                display: none;
            }

            a {
                @include text(0.9em, $color-header-preview, 600);
                font-family: $font-header-preview;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}


/***********************************************************
                     Content Section
************************************************************/

/***********************************
          Content Right
***********************************/

.content-section-right {
    width: 100%;
    height: 28em;
    display: block;
    background-color: $color-content-section;

    @media screen and (max-width: 740px) {
        height: 100%;
    }

    .content-section-content {
        position: relative;
        padding: 8em 0 0 5em;
        box-sizing: border-box;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;

        @media screen and (max-width: 740px) {
            padding: 0;
        }

        .project-info {

            @media screen and (max-width: 740px) {
                padding-top: 4em;
            }

            .project-name {

            @media screen and (max-width: 740px) {
                    width: 90vw;
                    margin-left: auto;
                }

                h1 {
                    @include text(2em, $color-project-info, 400);
                    font-family: $font-project-name;
                    position: relative;
                    margin: 0;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 1.85em;
                        left: 0;
                        width: 100%;
                        border: 2px solid $color-project-line;
                        box-sizing: border-box;
                    }
                }
            }

            .project-description {
                width: 30%;
                margin-top: 3em;

                @media screen and (max-width: 740px) {
                    line-height: 1.75em;
                    width: 80vw;
                    margin: 3em auto 0;
                }

                p {
                    @include text(1em, $color-project-info, 100, 0.5px);
                    font-family: $font-project-description;
                    margin: 0;
                }
            }
        }

        .project-preview {
            display: inline-block;
            margin-top: 2em;


            @media screen and (max-width: 740px) {
                display: block;
                width: 100%;
                text-align: center;
                padding-bottom: 3em;
            }

            button {
                @include text(0.75em, $color-project-preview);
                font-family: $font-project-preview;
                background-color: rgba(0, 0, 0, 0.3);
                text-transform: uppercase;
                border: none;
                box-shadow: none;
                padding: 0.5em 1.2em;

                @media screen and (max-width: 740px) {
                    padding: 0.75em 2.5em;
                }
            }
        }

        .laptop {
            position: absolute;
            top: 5em;
            right: 0;

            @media screen and (max-width: 740px) {
                position: initial;
                width: 100%;
                top: initial;
                right: initial;
                text-align: center;
                margin-top: 2em;
            }

            img {
                width: 27em;
                height: 19em;

                @media screen and (max-width: 740px) {
                    position: initial;
                    width: 80vw;
                    height: 55vw;
                }
            }
        }
    }
}

/***********************************
            Content Left
***********************************/



.content-section-left {
    width: 100%;
    height: 28em;
    display: block;
    background-color: gold;

    @media screen and (max-width: 740px) {
        height: 100%;
    }

    .content-section-content {
        position: relative;
        padding: 8em 5em 0 0;
        box-sizing: border-box;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        text-align: right;

        @media screen and (max-width: 740px) {
            padding: 0;
        }

        .project-info {

            @media screen and (max-width: 740px) {
                padding-top: 4em;
            }

            .project-name {

            @media screen and (max-width: 740px) {
                    width: 90vw;
                    margin-right: auto;
                }

                h1 {
                    @include text(2em, $color-project-info, 400);
                    font-family: $font-project-name;
                    position: relative;
                    margin: 0;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 1.85em;
                        left: 0;
                        width: 100%;
                        border: 2px solid $color-project-line;
                        box-sizing: border-box;
                    }
                }
            }

            .project-description {
                width: 30%;
                margin-top: 3em;
                margin-left: auto;

                @media screen and (max-width: 740px) {
                    line-height: 1.75em;
                    width: 80vw;
                    margin: 3em auto 0;
                }

                p {
                    @include text(1em, $color-project-info, 100, 0.5px);
                    font-family: $font-project-description;
                    margin: 0;
                }
            }
        }

        .project-preview {
            display: inline-block;
            margin-top: 2em;


            @media screen and (max-width: 740px) {
                display: block;
                width: 100%;
                text-align: center;
                padding-bottom: 3em;
            }

            button {
                @include text(0.75em, $color-project-preview);
                font-family: $font-project-preview;
                background-color: rgba(0, 0, 0, 0.3);
                text-transform: uppercase;
                border: none;
                box-shadow: none;
                padding: 0.5em 1.2em;

                @media screen and (max-width: 740px) {
                    padding: 0.75em 2.5em;
                }
            }
        }

        .laptop {
            position: absolute;
            top: 5em;
            left: 0;

            @media screen and (max-width: 740px) {
                position: initial;
                width: 100%;
                top: initial;
                right: initial;
                text-align: center;
                margin-top: 2em;
            }

            img {
                width: 27em;
                height: 19em;

                @media screen and (max-width: 740px) {
                    position: initial;
                    width: 80vw;
                    height: 55vw;
                }
            }
        }
    }
}



/***********************************************************
                      Footer Section
************************************************************/

.footer-section {
    display: block;
    width: 100%;

    .footer-content {
        text-align: center;

        ul {
            list-style: none;
            margin: 6em 0 5em;

            @media screen and (max-width: 740px) {
                margin: 3em 0 2em;
            }

            .item + .item {
                margin-top: 1.5em;
            }

            .item {
                display: block;

                &.greeting {

                    h3 {
                        @include text(1.25em, $color-footer-greeting, 100, 1px);
                        font-family: $font-footer-greeting;
                        display: inline-block;
                        margin: 0;
                    }
                }

                &.footer-email {

                    a {
                        @include text(1em, $color-footer-email, 100, 0.5px);
                        font-family: $font-footer-email;
                        text-decoration: none;
                        display: inline-block;
                        margin: 0;
                    }
                }

                &.footer-github {
                    text-align: center;

                    button {
                        @include background-content('github.svg', contain);
                        @include bg-dimention-position(2em, 2em, relative);
                        @extend %buttonless;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
