/***********************************************************
                      	  Global
************************************************************/


@import "_extends.scss";

.global {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 28em;

    @media screen and (max-width: 740px) {
        height: 100%;
    }

    .content {
        padding: 8em 0 0 5em;
        box-sizing: border-box;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;

        @media screen and (max-width: 740px) {
            padding: 0;
        }
    }
}

//////////// Clear Fix //////////////
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
//////////// Clear Fix //////////////

/***********************************************************
                      Header Section
************************************************************/


.header-section {
    display: block;

    .header-content {
        display: block;
        position: relative;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;

        .my-info {
            display: inline-block;
            margin: 8em 0 10em 5em;
            width: calc(100% - 5em);

            .my-name {

                h1 {
                    position: relative;
                    margin: 0;
                    font-family: 'Lato', sans-serif;
                    font-size: 1.9em;
                    font-weight: 600;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 1.85em;
                        left: 0;
                        right: 0;
                        width: 100%;
                        border: 2px solid black;
                        box-sizing: border-box;
                    }
                }
            }

            .my-description {
                width: 24em;
                margin-top: 3em;

                p {
                    margin: 0;
                    font-family: 'Lato', sans-serif;
                    font-size: 1.15em;
                    font-weight: 100;
                    letter-spacing: 0.5px;
                }
            }
        }

        .contact-info {
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 34px;

            .header-email {
                display: inline-block;
                margin-right: 1em;

                a {
                    text-decoration: none;
                    color: black;
                    font-family: 'Lato', sans-serif;
                    letter-spacing: 0.5px;
                    font-weight: 400;
                }
            }

            .header-github {
                display: inline-block;

                button {
                    @include background-content('github.svg', contain);
                    @include bg-dimention-position(2em, 2em, relative, 12px, 0);
                    @extend %buttonless;
                }
            }
        }

        .header-preview {
            display: inline-block;
            position: absolute;
            bottom: 3em;
            right: 4em;

            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                font-size: 0.9em;
                font-family: 'Lato', sans-serif;
                font-weight: 600;
            }
        }
    }
}


/***********************************************************
                     Content Section
************************************************************/


.content-section {
    display: block;
    background-color: #61da94;

    .content-section-content {
        position: relative;

        .project-info {

            @media screen and (max-width: 740px) {
                width: 80vw;
                margin: 0 auto;
                padding-top: 4em;
            }

            .project-name {

                h1 {
                    position: relative;
                    margin: 0;
                    color: white;
                    font-size: 2em;
                    font-weight: 400;
                    font-family: 'Lato', sans-serif;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 1.85em;
                        left: 0;
                        width: 100%;
                        border: 2px solid white;
                        box-sizing: border-box;
                    }
                }
            }

            .project-description {
                width: 30%;
                margin-top: 3em;

                @media screen and (max-width: 740px) {
                    width: 100%;
                }

                p {
                    margin: 0;
                    color: white;
                    font-family: 'Lato', sans-serif;
                    font-size: 1em;
                    font-weight: 100;
                    letter-spacing: 0.5px;
                }
            }
        }

        .project-preview {
            display: inline-block;

            button {
                background-color: rgba(0, 0, 0, 0.3);
                text-transform: uppercase;
                border: none;
                box-shadow: none;
                font-size: 0.75em;
                color: white;
                margin-top: 2em;
                padding: 0.5em 1.2em;
                font-family: 'Lato', sans-serif;
            }
        }

        .laptop {
            position: absolute;
            top: 5em;
            right: 0;

            @media screen and (max-width: 740px) {
                position: initial;
                width: 100%;
                top: initial;
                right: initial;
                text-align: center;
                margin-top: 2em;
            }

            img {
                width: 27em;
                height: 19em;

                @media screen and (max-width: 740px) {
                    position: initial;
                    width: 80vw;
                    height: 55vw;
                }
            }
        }
    }
}


/***********************************************************
                      Footer Section
************************************************************/

.footer-section {
    display: block;
    width: 100%;

    .footer-content {
        text-align: center;

        ul {
            list-style: none;
            margin: 6em 0 5em;

            .item + .item {
                margin-top: 1.5em;
            }

            .item {
                display: block;

                &.greeting {

                    h3 {
                        display: inline-block;
                        margin: 0;
                        font-size: 1.25em;
                        font-weight: 100;
                        letter-spacing: 1px;
                    }
                }

                &.footer-email {

                    a {
                        text-decoration: none;
                        display: inline-block;
                        margin: 0;
                        color: #61da94;
                        font-size: 1em;
                        letter-spacing: 0.5px;
                        font-weight: 100;
                    }
                }

                &.footer-github {
                    text-align: center;

                    button {
                        @include background-content('github.svg', contain);
                        @include bg-dimention-position(2em, 2em, relative);
                        @extend %buttonless;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
