<!DOCTYPE html>
<html ng-app='portfolio', ng-controller='portfolioController'>
  <head>
    <meta name="viewport", content="width=device-width, initial-scale=1.0">
    <meta name='description', content='Philip Rurka'>
    <meta name='author', content='Philip Rurka'>
    <link href='../main.css', type="text/css", rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300', rel='stylesheet', type='text/css'>
    <title>Philip Rurka</title>
  </head>
    

  <body>
    <div class='global'>

      <header class='landing-section'>
        <div class='landing-content'>
          <div class='my-info'>
            <div class='my-name line'>
              <h1>Philip Rurka</h1>
            </div>
            <div class='my-description'>
              <p>
                Passionate Front End Developer With A Keen Focus For Structured, Semantic Code and Cohesive Design.
                <!--A Proud member of the SimpTek family. Surrounded by professionals who are eager to learn and to take it to the next level.-->
              </p>
            </div>
          </div>
          <div class='contact-info clearfix'>
            <div class='icon-wrapper clearfix'>
              <div class='landing-github landing-icon'>
                <a href="https://github.com/PhilipRurka">
                  <button type="button", name="github"></button>
                </a>
              </div>
              <div class='landing-linkedin landing-icon'>
                <a href="https://www.linkedin.com/in/philiprurka/">
                  <button type="button", name="LinkedIn"></button>
                </a>
              </div>
            </div>
            <div class='landing-email'>
              <a href="mailto:hey@philiprurka.com">hey@philiprurka.com</a>
            </div>
          </div>
          <div class='landing-preview'>
            <a href="#">Check it</a>
          </div>
        </div>
      </header>


      <div id='scroll-destination' class='content-section first container'>
        <div class='content-section-content content'>
          <div class='project-info'>
            <div class='project-name line'>
              <h1>IoTPlace</h1>
            </div>
            <div class='project-description'>
              <p>
                IoTplace is a project a couple of friends and I have been working on.
                This project alowed us to explore the world or marketing, ...
              </p>
            </div>
          </div>
          <div class='laptop'>
            <img src="../images/laptop.jpg", alt="project">
          </div>
          <div class='project-preview'>
            <button href='#', type="button", name="preview">Check it</button>
          </div>
        </div>
      </div>


      <!--<div class='content-section second container'>
        <div class='content-section-content content'>
          <div class='project-info'>
            <div class='project-name line'>
              <h1>Project Name</h1>
            </div>
            <div class='project-description'>
              <p>Brief Project Description About What It Is And Whatever. And Maybe Some More Random Stuff.</p>
            </div>
          </div>
          <div class='laptop'>
            <img src="../images/laptop.jpg", alt="project">
          </div>
          <div class='project-preview'>
            <button type="button", name="preview">Check it</button>
          </div>
        </div>
      </div>
      <div class='content-section third container'>
        <div class='content-section-content content'>
          <div class='project-info'>
            <div class='project-name line'>
              <h1>Project Name</h1>
            </div>
            <div class='project-description'>
              <p>Brief Project Description About What It Is And Whatever. And Maybe Some More Random Stuff.</p>
            </div>
          </div>
          <div class='laptop'>
            <img src="../images/laptop.jpg", alt="project">
          </div>
          <div class='project-preview'>
            <button type="button", name="preview">Check it</button>
          </div>
        </div>
      </div>-->

      <footer class='footer-section'>
        <div class='footer-content'>
          <h3>Say Hello!</h3>
          <a href="mailto:hey@philiprurka.com")>hey@philiprurka.com</a>
          <ul>
            <li class='footer-linkedin item'>
                <a href="https://www.linkedin.com/in/philiprurka/">
                  <button type="button", name="github"></button>
                </a>
            </li>
            <li class='footer-github item'>
                <a href="https://github.com/PhilipRurka">
                  <button type="button", name="github"></button>
                </a>
            </li>
          </ul>
        </div>
      </footer>
    <div id='outline'><button></button></div>
    </div>
    <script src='../javascripts/vendors/angular.js'></script>
    <script src='../javascripts/vendors/jquery.js'></script>    
    <script src='../javascripts/vendors/ng-resource.js'></script>    
    <script src='../javascripts/vendors/routing-angular.js'></script>
    <script src='../javascripts/app.js'></script>
    <script src='../javascripts/controllers/main.ctrl.js'></script>    
  </body>
</html>
