/***********************************************************
                      	  Colors
************************************************************/

$white										    : #ffffff;
$black									    	: #000000;
$pastel-green							    : #61da94;
$Persimmon                    : #ff5c5c;


/***********************************
           Colors Function
************************************/

$color-my-info								: $black;
$color-landing-line						: $black;
$color-landing-email					: $pastel-green;
$color-landing-preview				: $black;

$color-content-section				: $pastel-green;
$color-project-info						: $white;
$color-project-line						: $white;
$color-project-preview				: $white;

$color-footer-greeting		 		: $black;
$color-footer-email						: $Persimmon;